.user-login .login-form form input{
    width: 100%;
    padding:  10px;
    margin: 0 0 10px 0;
    border: 1px solid #54595f;
    border-radius: 0px;
}

.user-login .login-form form input:focus{
    outline: none;
    border: 1px solid #b2937e;
    transition: .3s;
}
