/* Product Showcase Section  */
.visit-shop .timber-furniture {
    background-color: #faf2ec;

}
.visit-shop .timber-furniture .product-description {
    font-family: 'Crimson Pro', serif;

    color: #54595F;
}

.visit-shop .timber-furniture .visit-store {
    margin-top: 30px;
}

.visit-shop .timber-furniture .visit-store a {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

.visit-shop .timber-furniture .visit-store a:hover {
    color: #faf2ec;
    background-color: #3c2f27;
    border: 1px solid #3c2f27;
    transition: .4s all;
}

/* Product Description Section end  */