.user-profile-component .content-wrapper .form-wrapper form input{
    width: 100%;
    margin: 10px 0;
    height: 50px;
    padding: 0 10px;
    outline: none;
    border: 1px solid lightgray;
}
.user-profile-component .content-wrapper .form-wrapper form input:focus{
    outline: 1px solid #3c2f27;
    border: 1px solid transparent;

}
.user-profile-component .content-wrapper .form-wrapper form select{
    height: 50px;
    margin: 10px 0;
    border: 1px solid lightgray;

}

.user-profile-component .content-wrapper .form-wrapper form select:focus{
    outline: 1px solid #3c2f27;
    border: 1px solid transparent;

}