
.menu-section ul li {
    list-style: none;
    padding: 8px 0;
}
.menu-section ul li a{
    text-decoration: none;
    color:#54595f;
    font-family: minion-pro-display;

}
.menu-section ul li a:hover{
    text-decoration: none;
    color:black;
    transition: .3s;

}