.user-history .user-wishlist .my-items .product-wrapper .buttons button:hover{
    color: white;
    background: #3c2f27;
}

.user-history .user-wishlist .menu{
    position: sticky;
    top: 194px;
}

.user-history .user-wishlist .my-items .product-wrapper .image img{
    width: 100%;
}

.user-history .user-wishlist .my-items .product-wrapper .description .title{
    color: #59545f;
    font-size: 18px;
    font-family: minion-pro-display;
    line-height: 24px;
    padding-bottom: 8px;
}

.user-history .user-wishlist .my-items .product-wrapper .description .constant{
    font-size: 16px;
    color: #59545f;
    font-family: minion-pro;
    padding: 8px 0;
}


