/* End */

@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-light: var(--light);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --font-crimson: var(--font-crimson);
  --font-roboto: var(--font-roboto);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  * {
    @apply m-0 p-0 box-border;
  }

  html {
    @apply scroll-smooth;
  }
}

@layer base {
  :root {
    --background: 0 0 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: #3c2f27;
    --primary-foreground: #faf2ec;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --light: #54595f;
    --dark: #7f5539;

    --theme: #ddb892;

  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* width */
::-webkit-scrollbar {
  @apply w-2
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-primary
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary-foreground rounded-sm
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-[#b2937e]
}

/* Navigation Styling */
.navigation-bar .navbar-wrapper .menu nav ul li {
  @apply text-primary font-crimson
}

.navigation-bar .navbar-wrapper .menu nav ul li a {
  @apply block
}

.navbar-expand-lg .selected {
  @apply relative
}

.navbar-expand-lg .navbar-nav .nav-links.scrolled {
  @apply text-white
}

.navigation-bar .navbar-wrapper .menu nav ul li:hover {
  @apply text-primary cursor-pointer duration-300
}

.navigation-bar .navbar-wrapper .menu nav ul li button {
  @apply p-0 bg-transparent text-primary font-normal
}

.navbar-expand-lg .navbar-nav a {
  @apply relative no-underline
}

.navigation-bar .navbar-wrapper .menu nav ul li::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: #3c2f27;
  transition: width 0.3s ease, transform 0.3s ease;
  transform-origin: left center;
}

.navigation-bar .navbar-wrapper .menu nav ul li:hover::after {
  @apply w-full scale-x-100
}

.navbar .nav .nav-link .nav-item .dropdown-toggle::after {
  @apply hidden
}

.navbar .nav .nav-links-dropdown:hover .dropdown-menu {
  @apply block bg-primary-foreground rounded-none w-48 border border-[#b2937e]
}

.navbar .nav .nav-links-dropdown .dropdown-menu .dropdown-item {
  @apply text-primary font-crimson text-base leading-7
}

.navbar .nav .nav-links-dropdown .dropdown-menu .dropdown-item:hover {
  @apply bg-transparent text-primary
}

.navbar .navbar-toggler {
  @apply pl-4 text-lg leading-3 text-primary bg-transparent border-none transition-none
}

.navbar .navbar-toggler:focus {
  @apply no-underline outline-0 shadow-none
}

.navigation-bar .menu ul li {
  @apply py-0 px-3
}

.navigation-bar .menu .nested-list li {
  @apply pb-3
}

/* End */

/* Homepage Style start */
.homepage .banner-wrapper .content-wrapper .banner-title {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full text-center font-crimson
}

.homepage .banner-wrapper .content-wrapper .banner {
  filter: brightness(50%);

}

@media(max-width:768px) {
  .homepage .banner-wrapper .content-wrapper .banner {
    height: 30vh !important;
  }
}

/* Our experts section Styling */
.homepage .our-expert .content-wrapper .showcase img {
  width: 100% !important;
}

/* End */

/* Custom Service */
.homepage .custom-service {
  @apply relative
}

.homepage .custom-service .dine-room {
  filter: brightness(40%);
}

.homepage .custom-service .description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 1;
}

.homepage .custom-service .description .visit-us a {
  @apply font-roboto text-base tracking-normal bg-transparent text-white py-3 px-6 border border-white no-underline uppercase mt-4 inline-block
}

.homepage .custom-service .description .visit-us a:hover {
  @apply text-primary bg-[#faf2ec]
}

/* End */

/* Product Showcase Section  */
.visit-shop .timber-furniture {
  @apply bg-[#faf2ec]
}

.visit-shop .timber-furniture .product-description {
  @apply font-crimson text-primary
}

.visit-shop .timber-furniture .visit-store {
  @apply mt-8
}

.visit-shop .timber-furniture .visit-store a {
  @apply inline-block no-underline rounded-none text-primary font-roboto
}

.visit-shop .timber-furniture .visit-store a:hover {
  @apply text-primary-foreground border border-primary duration-300
}

/* Product Description Section end  */

/* User Profile Component */
.user-profile-component .content-wrapper {
  @apply mt-5
}

.user-profile-component .content-wrapper .form-wrapper form .field-wrapper {
  @apply mb-2
}

.user-profile-component .content-wrapper .form-wrapper form input {
  @apply w-full mt-[10px] h-12 px-3 outline-0 border border-[#b2937e] rounded-none font-roboto
}

.user-profile-component .content-wrapper .form-wrapper form input:focus {
  @apply rounded-none border border-primary
}

.user-profile-component .content-wrapper .form-wrapper form select {
  @apply h-12 my-3 border border-[#b2937e] bg-white px-3
}

.user-profile-component .content-wrapper .form-wrapper form select:focus {
  @apply border border-primary outline-0
}

/* End */

/* Password Reset  */
.change-password-form .form-wrapper form .field-wrapper {
  @apply mb-2 w-1/2 mx-auto
}

.change-password-form .form-wrapper form input[type="password"] {
  @apply mt-[10px] w-full h-12 px-3 border border-[#b2937e] outline-0
}

.change-password-form .form-wrapper form input[type="text"] {
  @apply w-full mt-[10px] h-12 px-3 border border-[#b2937e] outline-0
}

.change-password-form .form-wrapper form input[type="password"]:focus {
  @apply border border-primary outline-0
}

/* End */

/* Swiper  */

.image-carousel {
  @apply pb-[30px] bg-[#faf2ec]
}

.image-carousel .carousel-heading {
  @apply font-crimson text-primary pt-[30px] pb-5 px-0
}

.image-carousel .carousel .title {
  @apply font-roboto text-sm text-primary leading-7 pt-1 pb-12 px-0
}

.image-carousel .carousel .product-swiper .swiper-wrapper {
  @apply py-0 px-20
}

.image-carousel .carousel .product-swiper .swiper-wrapper img {
  @apply w-full
}

.image-carousel .carousel .swiper-scrollbar {
  @apply hidden
}

.image-carousel .carousel .swiper-button-prev, .swiper-button-next {
  @apply absolute top-[47%] z-10 cursor-pointer flex items-center justify-center text-white bottom-[50%] translate-y-[-50%] font-extrabold
}

.image-carousel .carousel .swiper-button-next {
  @apply absolute top-[47%] z-10 cursor-pointer flex items-center justify-center text-white bottom-[50%] translate-y-[-50%] font-extrabold
}

.image-carousel .carousel .swiper-pagination .swiper-pagination-bullet {
  @apply my-0 mx-[10px];

}

.image-carousel .carousel .swiper-pagination .swiper-pagination-bullet-active {
  @apply text-primary
}

/* End */

/* Tabbing Swiper */

.tabbing-actions .swiper .swiper-wrapper .edit-profile {
  @apply w-[100px]! mr-0!
}

.tabbing-actions .swiper .swiper-wrapper .edit-profile div {
  @apply p-0!
}

.tabbing-actions .swiper .swiper-wrapper .my-wishlist {
  @apply w-[100px]! mr-2!
}

.tabbing-actions .swiper .swiper-wrapper .order-history {
  @apply w-[115px]! mr-2!
}

.tabbing-actions .swiper .swiper-wrapper .chng-password {
  @apply w-[130px]! mr-2!
}

.tabbing-actions .swiper .swiper-wrapper .acc-delete {
  @apply w-[160px]! mr-0!
}

.tabbing-actions .swiper .swiper-wrapper .manage-addresses {
  @apply w-[160px]! mr-0!
}

.tabbing-actions .swiper .swiper-wrapper .browsing-history {
  @apply w-[160px]! mr-0!
}

.tabbing-actions .swiper .swiper-wrapper .swiper-slide-active {
  @apply w-[0px]! mr-0!
}

.tabbing-actions .swiper .swiper-wrapper .swiper-slide-next {
  @apply w-[0px]! mr-0!
}

/* End */

/* Contact Form */
.contact-page .content-wrapper .form-wrapper form input,
textarea {
  @apply w-full py-2 mx-0 h-10 border border-[#b2937e] rounded-none outline-0 px-3 font-roboto
}

.contact-page .content-wrapper .form-wrapper form input:focus,
textarea:focus {
  @apply border border-primary px-3
}

.contact-page .content-wrapper .form-wrapper form .field-wrapper {
  @apply mb-3 block
}

/* End */

/* User Register  Form */
.user-registration .register-form form .field-wrapper {
  @apply mb-3 w-full
}

.user-registration .register-form form input {
  @apply w-full py-3 border border-[#b2937e] h-10 text-sm rounded-md px-3 outline-hidden bg-white font-roboto
}

.user-registration .register-form form input:focus {
  @apply outline-hidden border border-primary duration-300 px-3 bg-white
}

/* End */

/* Login Form */
.user-login .login-form form .field-wrapper {
  @apply mb-3
}

.user-login .login-form form input {
  @apply w-full border border-[#b2937e] h-10 text-sm rounded-md p-3 outline-hidden bg-white font-roboto
}

.user-login .login-form form input:focus {
  @apply outline-hidden border border-primary duration-300 px-3 bg-white
}

/* End */

/* Shipping Details Form */

.shipping-details-form form input[type=text] {
  @apply w-full p-3 border border-[#b2937e] rounded-none outline-hidden shadow-none font-roboto text-primary
}

.shipping-details-form form input[type=text]:focus {
  @apply border border-primary
}

.shipping-details-form form select {
  @apply h-12 border border-[#b2937e] bg-white px-3 w-full text-primary font-roboto rounded-none outline-hidden shadow-none
}

.shipping-details-form form select:focus {
  @apply border border-primary
}

.shipping-details-form .data-\[state\=checked\]\:bg-primary[data-state=checked] {
  @apply text-primary
}

.shipping-details-form form .payment-method {
  @apply pb-10
}

.shipping-details-form form .payment-method label {
  @apply pl-1
}

.shipping-details-form form .payment-method div {
  @apply pb-1
}

.shipping-details-form form .payment-method div label:hover {
  @apply cursor-pointer
}

.shipping-details-form form .payment-method div input[type="radio"] {
  @apply hidden
}

.shipping-details-form form .payment-method div .custom-radio {
  @apply block w-4 h-4 border-2 border-[#ccc] rounded-full relative mr-1 hover:bg-primary p-1
}

.shipping-details-form form .payment-method div input[type="radio"]:checked + .radio-label .custom-radio{
  @apply after:content-[''] after:w-3 after:h-3 after:bg-primary after:rounded-full after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 p-1 border border-primary
}

.shipping-details-form form .field-wrapper{
  @apply mb-3
}

/* End */
/* --------------------------------------------------------------- */

.change-password-form .form-wrapper form input {
  @apply font-roboto
}

.change-password-form .form-wrapper form input:focus {
  @apply outline-1 outline-primary rounded-none
}

/* Customer Reviews */
.customer-reviews .tab-button button {
  @apply text-primary rounded-none text-base font-crimson font-semibold
}

.customer-reviews .reviews-wrapper .review {
  @apply border-b border-[#b2937e]
}

/* End */
/* Stories Page Styling */
/* Banner Image Section Styling */
.stories .banner-image-wrapper {
  @apply relative
}

.stories .banner-image-wrapper .banner-text-wrapper .banner-text {

  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}

.stories .banner-image-wrapper .banner-text-wrapper .banner-text span {
  @apply block md:text-5xl sm:text-3xl text-2xl leading-7 text-white font-crimson
}

/* End */

/* Browse by Category */
.stories .browse-by-category {
  @apply bg-[#faf2ec] py-12 px-0
}

.stories .browse-by-category .inspiration {
  @apply text-center font-crimson text-2xl leading-10 text-primary
}

.stories .browse-by-category .heading {
  @apply text-center font-roboto text-2xl leading-10 text-[#4f4537] py-3 px-0
}

.stories .browse-by-category .categories {
  @apply py-4 px-0
}

.stories .browse-by-category .categories .wrapper {
  @apply py-4 px-0
}

.stories .browse-by-category .categories .wrapper a {
  @apply font-roboto text-xl no-underline block leading-5 text-[#4f4537] py-8 px-5 bg-white text-center border border-transparent rounded-none
}

.stories .browse-by-category .categories .wrapper a:hover {
  transform: scale(1.1);
  transition: .5s all;

}

/* End */
/* Product Listing */
.stories .product-listing {
  @apply bg-[#faf2ec] pt-3 pr-0 pb-10 pl-0
}

.stories .product-listing .product-wrapper .image {
  @apply relative
}

.stories .product-listing .product-wrapper .image .case-studies {
  @apply absolute right-5 top-5 font-roboto text-xs leading-4 border border-primary py-2 px-4 bg-[#faf2ec] rounded-3xl
}

.stories .product-listing .product-wrapper .content-wrapper {
  @apply bg-white;
}

.stories .product-listing .product-wrapper .content-wrapper .description {
  @apply font-roboto text-lg leading-7 text-[#4f4537] p-5 pt-3
}

.stories .product-listing .product-wrapper .content-wrapper .read-more {
  @apply font-roboto font-bold text-sm tracking-tight leading-6 text-primary py-3 px-5
}

/* End */
/* Study wooden table */

.stories .study-wooden-table {
  @apply relative m-0 mt-20
}

.stories .study-wooden-table .hero-image {
  @apply mt-[-70px] brightness-50
}

.stories .study-wooden-table .hero-text {
  @apply absolute top-2/4 text-center left-2/4 text-white w-full z-10 transform -translate-x-1/2 -translate-y-1/2
}

.stories .study-wooden-table .hero-text h1 {
  @apply text-5xl leading-[55px] font-crimson
}

.stories .study-wooden-table .hero-text span {
  @apply text-5xl leading-[55px] font-crimson
}

/* Follow Us */
.stories .follow-us {
  @apply bg-[#faf2ec] py-10 px-0
}

.stories .follow-us .social-link {
  @apply text-[#4f4537] font-crimson text-center text-3xl leading-9
}

.stories .follow-us .social-link a {
  @apply text-[#4f4537] font-crimson text-center text-3xl leading-9 no-underline
}

/*  */
/* Newsletter */
.stories .newsletter {
  @apply p-0 pb-16 bg-[#faf2ec]
}

.stories .newsletter .content-wrapper .left-section {
  @apply w-2/3
}

.stories .newsletter .content-wrapper .right-section {
  @apply w-1/3 flex justify-center items-center
}

.stories .newsletter .content-wrapper .right-section .wrapper {
  @apply w-2/3
}

.stories .newsletter .content-wrapper .right-section .wrapper .heading {
  @apply font-crimson text-3xl text-[#4f4537]
}

.stories .newsletter .content-wrapper .right-section .wrapper .description {
  @apply font-roboto text-base text-[#4b4537] pt-3 pb-4 px-0
}

.stories .newsletter .content-wrapper .right-section .wrapper .subscribe input[type="text"] {
  @apply h-9 w-full m-0 mb-5 font-roboto
}

.stories .newsletter .content-wrapper .right-section .wrapper .subscribe button {
  @apply w-full py-3 px-6 text-[#4f4537] border border-[#4f4537] font-roboto bg-transparent
}

.stories .newsletter .content-wrapper .right-section .wrapper .subscribe button:hover {
  @apply text-white bg-primary border border-primary
}

@media(max-width:992px) {
  .stories .newsletter .content-wrapper {
    @apply flex flex-wrap flex-col
  }

  .stories .newsletter .content-wrapper .left-section {
    @apply w-full
  }

  .stories .newsletter .content-wrapper .right-section {
    @apply w-full
  }

}

/* End */

/*  */
.about-us .banner-image-wrapper {
  @apply relative
}

.about-us .banner-image-wrapper .hero-image {
  filter: brightness(60%);
}

.about-us .banner-image-wrapper .hero-text {
  @apply absolute bottom-[10%] z-10
}

.about-us .banner-image-wrapper .hero-text p {
  @apply mb-0 text-4xl text-white
}

/*  */
.about-us .about-company-location {
  @apply bg-primary-foreground py-12 px-0
}

.about-us .about-company-location .content-wrapper span {
  @apply text-3xl block text-light
}

.about-us .about-company-location .detail-wrapper .about-company p {
  @apply text-lg leading-7 text-light py-4 px-0 mb-0
}

.about-us .about-company-location .explore-more button {
  @apply border border-black py-3 px-6 text-sm tracking-wide leading-4 uppercase text-black bg-transparent
}

.about-us .about-company-location .explore-more button:hover {
  @apply bg-primary text-white duration-500
}

/*  */
.about-us .banner .video {
  @apply w-1/2
}

.about-us .banner .video video {
 @apply w-1/2
}

.about-us .banner .image {
  @apply w-1/2
}

.about-us .banner .image img {
  @apply w-full
}

@media(max-width:576px) {
  .about-us .banner {
    @apply flex! flex-wrap flex-col
  }

  .about-us .banner .video {
    @apply w-full block
  }

  .about-us .banner .image {
    @apply w-full
  }

}

/*  */

.about-us .work-showcase {
  @apply bg-primary-foreground;
}

.about-us .work-showcase .video-wrapper {
  @apply divide-inherit
}

.about-us .work-showcase .video-wrapper video {
  @apply w-full
}

/*  */
.about-us .westbury {
  @apply bg-primary
}

.about-us .westbury .content-wrapper .left-section {
  @apply w-3/5 flex items-center
}

.about-us .westbury .content-wrapper .left-section .fairer-hills {
  @apply w-[65%] m-auto
}

.about-us .westbury .content-wrapper .left-section .fairer-hills p {
  @apply text-3xl leading-[45px] text-white
}

.about-us .westbury .content-wrapper .left-section .fairer-hills span {
  @apply text-lg leading-7 text-white
}

.about-us .westbury .content-wrapper .right-section {
  @apply w-2/5
}

.about-us .westbury .content-wrapper .right-section .westbury-white-horse {
  @apply w-3/4
}

@media(max-width:992px) {
  .about-us .westbury .content-wrapper .left-section .fairer-hills p {
    @apply text-lg leading-7 text-white
  }
}

@media(max-width:576px) {
  .about-us .westbury .content-wrapper .left-section {
    @apply w-full flex items-center order-2
  }

  .about-us .westbury .content-wrapper .left-section .fairer-hills {
    @apply w-full p-5
  }

  .about-us .westbury .content-wrapper .right-section {
    @apply w-full order-1
  }

  .about-us .westbury .content-wrapper .right-section .westbury-white-horse {
    @apply w-full
  }

  .about-us .westbury .content-wrapper {
    @apply flex flex-wrap flex-col
  }

}

/* Old Map */
.about-us .old-navigation-map {
  @apply relative
}

.about-us .old-navigation-map .hero-image {
  filter: brightness(40%);
}

.about-us .old-navigation-map .heading {
  @apply absolute top-[15%] w-full
}

.about-us .old-navigation-map .heading span {
  @apply text-3xl leading-9 block text-center text-white
}

.about-us .old-navigation-map .firms-promise {
  @apply absolute bottom-[10%] w-full
}

.about-us .old-navigation-map .firms-promise .left-section p,
.right-section p {
  @apply text-lg leading-7 text-white mb-5
}

/* End */
.svg-stroking svg {
  @apply stroke-2
}

/* Upper Footer Styling */
.footer-section footer .upper-footer ul li a {
  @apply leading-6 text-primary
}

.footer-section footer .upper-footer ul li a:hover {
  @apply text-primary font-semibold
}

/* End */

/* Lower Footer */
.footer-section footer .lower-footer .lower-footer-wrapper div {
  @apply text-primary text-xs
}

.footer-section footer .lower-footer .lower-footer-wrapper div a:hover {
  @apply underline
}

/* End */

.make-bold-props {
  @apply before:block
  before:content-[attr(title)]
  before:h-0
  before:font-bold
  before:overflow-hidden
  before:invisible;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}