/* Global CSS */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
/* End */

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

html{
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
 
    --radius: 0.5rem;

    --light: #54595f;
    --dark: #7f5539;

    --theme: #ddb892;
    
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

/*! Use this font in button, links, navigation */
/* font-family: 'Baskervville', serif;  */

/* TODO Use this font in paragraph, description, details etc*/
/* font-family: 'Roboto', sans-serif;  */

/** use this font in headings title etc */
/* font-family: 'Crimson Pro', serif; */
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* width */
::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3c2f27;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b2937e;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#b2937e;
}
/* Navigation Styling */
.navigation-bar .navbar-wrapper .menu nav ul li  {
  @apply text-[#3c2f27] font-crimson
  
}
.navigation-bar .navbar-wrapper .menu nav ul li a{
  @apply block
}

.navbar-expand-lg  .selected {
  @apply relative
}

.navbar-expand-lg .navbar-nav .nav-links.scrolled {
  @apply text-white
}

.navigation-bar .navbar-wrapper .menu nav ul li:hover {
  @apply text-[#3c2f27] cursor-pointer duration-300

}
.navigation-bar .navbar-wrapper .menu nav ul li button{
  @apply p-0 bg-transparent text-[#3c2f27] font-light

}
.navbar-expand-lg .navbar-nav a {
  @apply relative no-underline

}

.navigation-bar .navbar-wrapper .menu nav ul li::after {
  /* @apply h-2 w-0 bg-[#3c2f27] transition-width transition-transform transform-origin-left-center */
  content: '';
  display: block;
  height: 2px;
  width: 0px;
  background-color: #3c2f27;
  transition: width 0.3s ease, transform 0.3s ease;
  transform-origin: left center;
}

.navigation-bar .navbar-wrapper .menu nav ul li:hover::after {
  @apply w-full scale-x-100

}

.navbar .nav .nav-link .nav-item .dropdown-toggle::after {
  @apply hidden

}

.navbar .nav .nav-links-dropdown:hover .dropdown-menu {
  @apply block bg-[#faf2ec] rounded-none w-48 
}

.navbar .nav .nav-links-dropdown .dropdown-menu .dropdown-item {
 @apply text-[#3c2f27] font-crimson text-base leading-7

}

.navbar .nav .nav-links-dropdown .dropdown-menu .dropdown-item:hover {
  @apply bg-transparent text-[#3c2f27]

}

.navbar .navbar-toggler {
  @apply pl-4 text-lg leading-3 text-[#3c2f27] bg-transparent border-none transition-none
}

.navbar .navbar-toggler:focus {
  @apply no-underline outline-0 shadow-none

}

.navigation-bar .menu ul li {
  @apply py-0 px-3
}

.navigation-bar .menu .nested-list li{
  @apply pb-3
}
/* End */

/* Homepage Style start */
.homepage .banner-wrapper .content-wrapper .banner-title{
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full text-center font-crimson
  
}

.homepage .banner-wrapper .content-wrapper .banner {
  filter: brightness(50%);

}

@media(max-width:768px){
  .homepage .banner-wrapper .content-wrapper .banner{
    height: 30vh !important;
  }
}


/* Our experts section Styling */
.homepage .our-expert .content-wrapper .showcase img{
  width: 100% !important;
}  
/* End */

/* Custom Service */
.homepage .custom-service {
  @apply relative

}

.homepage .custom-service .dine-room {
  filter: brightness(40%);
}

.homepage .custom-service .description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 1;
}

.homepage .custom-service .description .visit-us a {
  @apply font-roboto text-base tracking-normal bg-transparent text-white py-3 px-6 border border-white no-underline uppercase mt-4 inline-block

}

.homepage .custom-service .description .visit-us a:hover {
  @apply text-[#3c2f27] bg-[#faf2ec]
  
}

/* End */

/* Product Showcase Section  */
.visit-shop .timber-furniture {
  @apply bg-[#faf2ec]

}
.visit-shop .timber-furniture .product-description {
  @apply font-crimson text-[#3c2f27]
}

.visit-shop .timber-furniture .visit-store {
  @apply mt-8
}

.visit-shop .timber-furniture .visit-store a {
  @apply inline-block no-underline rounded-none text-[#3c2f27] font-roboto
}

.visit-shop .timber-furniture .visit-store a:hover {
  @apply text-[#faf2ec] bg-[#3c2f27] border border-[#3c2f27] duration-300
}

/* Product Description Section end  */

/* User Profile Component */
.user-profile-component .content-wrapper .form-wrapper form input{
  @apply w-full my-[10px] h-12 px-3 outline-0 border rounded-none 
  
}

.user-profile-component .content-wrapper .form-wrapper form input:focus{
  @apply rounded-none border
}

.user-profile-component .content-wrapper .form-wrapper form select{
  @apply h-12 my-3 border border-[#3c2f27] bg-white px-3
  
}

.user-profile-component .content-wrapper .form-wrapper form select:focus{
  @apply  border border-[#3c2f27]

}

/* End */

/* Password Reset  */
.change-password-form .form-wrapper form input{
 @apply w-full my-[10px] h-12 px-3 outline-0 border border-[#d3d3d3] 

}

.change-password-form .form-wrapper form input:focus{
  @apply outline-1 outline-[#3c2f27] border border-transparent
}

.change-password-form .form-wrapper form select{
  @apply h-12 my-3 border border-gray-500 bg-white px-3

}

.change-password-form .form-wrapper form select:focus{
  @apply outline-1 outline-[#3c2f27] border border-[#3c2f27]

}
/* End */

/* Swiper  */

.image-carousel {
 @apply pb-[30px] bg-[#faf2ec]
}

.image-carousel .carousel-heading {
  @apply font-crimson text-[#3c2f27] pt-[30px] pb-5 px-0
  
}

.image-carousel .carousel .title {
  @apply font-roboto text-sm text-[#3c2f27] leading-7 pt-1 pb-12 px-0
 
}

.image-carousel .carousel .product-swiper .swiper-wrapper{
  @apply py-0 px-20
}

.image-carousel .carousel .product-swiper .swiper-wrapper img{
  @apply w-full
}

.image-carousel .carousel .swiper-scrollbar {
  @apply hidden
}

.image-carousel .carousel .swiper-button-prev, .swiper-button-next {
  @apply absolute top-[47%] z-10 cursor-pointer flex items-center justify-center text-white bottom-[50%] translate-y-[-50%] font-extrabold
  
}

.image-carousel .carousel .swiper-button-next {
  @apply absolute top-[47%] z-10 cursor-pointer flex items-center justify-center text-white bottom-[50%] translate-y-[-50%] font-extrabold 


}
.image-carousel .carousel .swiper-pagination .swiper-pagination-bullet{
 @apply  my-0 mx-[10px];
  
}

.image-carousel .carousel .swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-[#3c2f27]
}
/* End */

/* Tabbing Swiper */

 .tabbing-actions .swiper .swiper-wrapper .edit-profile{
  @apply !w-[100px] !mr-0
}
.tabbing-actions .swiper .swiper-wrapper .edit-profile div{
  @apply  !p-0
}

.tabbing-actions .swiper .swiper-wrapper .my-wishlist{
  @apply !w-[100px] !mr-2
} 
.tabbing-actions .swiper .swiper-wrapper .order-history{
  @apply !w-[115px] !mr-2
}
 
.tabbing-actions .swiper .swiper-wrapper .chng-password{
  @apply !w-[130px] !mr-2
}
.tabbing-actions .swiper .swiper-wrapper .acc-delete{
  @apply !w-[160px] !mr-0
}
.tabbing-actions .swiper .swiper-wrapper .manage-addresses{
  @apply !w-[160px] !mr-0
} 
.tabbing-actions .swiper .swiper-wrapper .browsing-history{
  @apply !w-[160px] !mr-0

} 

.tabbing-actions .swiper .swiper-wrapper .swiper-slide-active{
  @apply !w-[0px] !mr-0
}

.tabbing-actions .swiper .swiper-wrapper .swiper-slide-next{
  @apply !w-[0px] !mr-0
} 

/* End */

/* Contact Form */
.contact-page .content-wrapper .form-wrapper form input,
textarea {
  @apply w-full py-2 my-3 mx-0 h-10 border rounded-none py-0 outline-0 px-3
    
}

.contact-page .content-wrapper .form-wrapper form input:focus,
textarea:focus {
    @apply border border-[#3c2f27] px-3
}
/* End */

/* User Register  Form */
.user-registration .register-form form input{
  @apply w-full py-3 mb-3 border rounded-none px-3 outline-none bg-white
}

.user-registration .register-form form input:focus{
  @apply outline-none border border-[#3c2f27] duration-300 px-3 bg-white

}
/* End */

/* Login Form */
.user-login .login-form form input{
  @apply  w-full py-3 mb-3 border rounded-none px-3 outline-none bg-white
}

.user-login .login-form form input:focus{
 @apply outline-none border border-[#3c2f27] duration-300 px-3 bg-white
}
/* End */

/* Shipping Details Form */

.shipping-details-form form input[type=text]{
  @apply w-full p-3 mb-3 border  rounded-none outline-none shadow-none
}
.shipping-details-form form input[type=text]:focus{
  @apply border  border-[#3c2f27]
}

.shipping-details-form form select{
  @apply h-12 mb-3 border  bg-white px-3 rounded-none outline-none shadow-none
  
}

.shipping-details-form  form select:focus{
  @apply  border  border-[#3c2f27]

}
.shipping-details-form .data-\[state\=checked\]\:bg-primary[data-state=checked] {
  background-color: #3c2f27;
}
.shipping-details-form form .payment-method{
  @apply pb-10
}
.shipping-details-form form .payment-method label{
  @apply pl-1
}
.shipping-details-form form .payment-method div{
  @apply pb-1
}
.shipping-details-form form .payment-method div label:hover{
  @apply cursor-pointer
}


/* End */

.change-password-form .form-wrapper form input:focus{
  @apply outline-1 outline-[#3c2f27] rounded-none
}

/* Customer Reviews */
.customer-reviews .tab-button button{
  @apply bg-[#3c2f27] rounded-none text-base font-crimson font-semibold text-white
}

.customer-reviews .reviews-wrapper .review{
  @apply border-b border-[#b2937e]
}
/* End */
/* Stories Page Styling */
/* Banner Image Section Styling */
.stories .banner-image-wrapper {
 @apply relative
}

.stories .banner-image-wrapper .banner-text-wrapper .banner-text {

  @apply absolute bottom-[8%]
}

.stories .banner-image-wrapper .banner-text-wrapper .banner-text span {
  @apply block text-4xl leading-7 text-[#3c2f27] font-crimson
  
}
/* End */

/* Browse by Category */
.stories .browse-by-category {
  @apply bg-[#faf2ec] py-12 px-0

}

.stories .browse-by-category .inspiration {
  @apply text-center font-crimson text-2xl leading-10 text-[#3c2f27]

}

.stories .browse-by-category .heading {
  @apply text-center font-roboto text-2xl leading-10 text-[#4f4537] py-3 px-0

}

.stories .browse-by-category .categories {
  @apply py-4 px-0
}

.stories .browse-by-category .categories .wrapper {
  @apply py-4 px-0

}

.stories .browse-by-category .categories .wrapper a {
  @apply font-roboto text-xl no-underline block leading-5 text-[#4f4537] py-8 px-5 bg-white text-center border border-transparent rounded-none

}

.stories .browse-by-category .categories .wrapper a:hover {
  transform: scale(1.1);
  transition: .5s all;

}

/* End */
/* Product Listing */
.stories .product-listing {
 @apply bg-[#faf2ec] pt-3 pr-0 pb-10 pl-0
}

.stories .product-listing .product-wrapper .image {
  @apply relative
}

.stories .product-listing .product-wrapper .image .case-studies {
  @apply absolute right-5 top-5  font-roboto text-xs leading-4 border border-[#3c2f27] py-2 px-4 bg-[#faf2ec] rounded-3xl
  
  
}

.stories .product-listing .product-wrapper .content-wrapper {
 @apply bg-white;
}

.stories .product-listing .product-wrapper .content-wrapper .description {
  @apply font-roboto text-lg leading-7 text-[#4f4537] p-5 pt-3 

}

.stories .product-listing .product-wrapper .content-wrapper .read-more {
  @apply font-roboto font-bold text-sm tracking-tight leading-6 text-[#3c2f27] py-3 px-5 

}

/* End */
/* Study wooden table */

.stories .study-wooden-table {
  @apply relative m-0 mt-20
}

.stories .study-wooden-table .hero-image {
  @apply mt-[-70px] brightness-50
}

.stories .study-wooden-table .hero-text {
  @apply absolute top-2/4 text-center left-2/4 text-white w-full z-10  transform -translate-x-1/2 -translate-y-1/2
  
}

.stories .study-wooden-table .hero-text h1 {
  @apply text-5xl leading-[55px] font-crimson

}

.stories .study-wooden-table .hero-text span {
  @apply text-5xl leading-[55px] font-crimson
}

/* Follow Us */
.stories .follow-us {
  @apply bg-[#faf2ec] py-10 px-0

}

.stories .follow-us .social-link {
  @apply text-[#4f4537] font-crimson text-center text-3xl leading-9

}

.stories .follow-us .social-link a {
  @apply text-[#4f4537] font-crimson text-center text-3xl leading-9 no-underline

}

/*  */
/* Newsletter */
.stories .newsletter {
  @apply p-0 pb-16 bg-[#faf2ec]

}

.stories .newsletter .content-wrapper .left-section {
  @apply w-2/3
}

.stories .newsletter .content-wrapper .right-section {
  @apply w-1/3 flex justify-center items-center

}

.stories .newsletter .content-wrapper .right-section .wrapper {
  @apply w-2/3

}

.stories .newsletter .content-wrapper .right-section .wrapper .heading {
  @apply font-crimson text-3xl text-[#4f4537]
 
}

.stories .newsletter .content-wrapper .right-section .wrapper .description {
  @apply font-roboto text-base text-[#4b4537] pt-3 pb-4 px-0
  
}

.stories .newsletter .content-wrapper .right-section .wrapper .subscribe input[type="text"] {
  @apply h-9 w-full m-0 mb-5

}

.stories .newsletter .content-wrapper .right-section .wrapper .subscribe button {
  @apply w-full py-3 px-6 text-[#4f4537] border border-[#4f4537] font-roboto bg-transparent

}

.stories .newsletter .content-wrapper .right-section .wrapper .subscribe button:hover {
  @apply text-white bg-[#3c2f27] border border-[#3c2f27]

}

@media(max-width:992px) {
  .stories .newsletter .content-wrapper {
    @apply flex flex-wrap flex-col
  }

  .stories .newsletter .content-wrapper .left-section {
      @apply w-full
  }

  .stories .newsletter .content-wrapper .right-section {
      @apply w-full

  }

}
/* End */


/*  */
.about-us .banner-image-wrapper {
 @apply relative
}
.about-us .banner-image-wrapper .hero-image{
  filter: brightness(60%);
}
.about-us .banner-image-wrapper .hero-text {
  position: absolute;
  bottom: 10%;
  z-index: 10;
}

.about-us .banner-image-wrapper .hero-text p {
  margin-bottom: 0;
  font-family: minion-pro-display;
  font-size: 32px;
  font-size: 38px;
  color: white;
}

/*  */
.about-us .about-company-location {
  background-color: #faf2ec;
  padding: 50px 0;
}

.about-us .about-company-location .content-wrapper span {
  font-size: 30px;
  display: block;
  font-family: minion-pro-display;
  color: #54595f;
}

.about-us .about-company-location .detail-wrapper .about-company p {
  font-size: 18px;
  line-height: 28px;
  color: #54595f;
  font-family: minion-pro;
  padding: 15px 0;
  margin-bottom: 0;

}
.about-us .about-company-location .explore-more button{
  border: 1px solid black;
  padding: 12px 24px;
  font-family: minion-pro;
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 15px;
  text-transform: uppercase;
  color: black;
  background-color: transparent;
}
.about-us .about-company-location .explore-more button:hover{
  background-color: #3c2f27;
  color: white;
  transition: .4s;
}


/*  */
.about-us .banner .video {
  width: 50%;
  display: inherit;
}

.about-us .banner .video video {
  width: 100%;
}

.about-us .banner .image {
  width: 50%;
  display: inherit;
}

.about-us .banner .image img {
  width: 100%;
}

@media(max-width:576px) {
  .about-us .banner {
      display: flex !important;
      flex-wrap: wrap;
      flex-direction: column;
  }

  .about-us .banner .video {
      width: 100%;
      display: block;
  }

  .about-us .banner .image {
      width: 100%;
  }

}
/*  */

.about-us .work-showcase{
  background-color: #faf2ec;
}
.about-us .work-showcase .video-wrapper{
  display: inherit;
  
}
.about-us .work-showcase .video-wrapper video{
  width: 100%;
}
/*  */
.about-us .westbury{
  background-color: #3c2f27;
}
.about-us .westbury .content-wrapper .left-section{
  width: 60%;
  display: flex;
  align-items: center;
}
.about-us .westbury .content-wrapper .left-section .fairer-hills {
  width: 65%;
  margin: auto;
}
.about-us .westbury .content-wrapper .left-section .fairer-hills p{
  font-family: minion-pro;
  font-size: 30px;
  line-height: 45px;
  color: white;
}
.about-us .westbury .content-wrapper .left-section .fairer-hills span{
  font-family: minion-pro;
  font-size: 18px;
  line-height: 28px;
  color: white;
}
.about-us .westbury .content-wrapper .right-section{
  width: 40%;
}
.about-us .westbury .content-wrapper .right-section .westbury-white-horse{
  width: 75%;
}
@media(max-width:992px){
  .about-us .westbury .content-wrapper .left-section .fairer-hills p{
      font-family: minion-pro;
      font-size: 18px;
      line-height: 26px;
      color: white;
  }
}
@media(max-width:576px){
  .about-us .westbury .content-wrapper .left-section{
      width: 100%;
      display: flex;
      align-items: center;
      order: 2;
  }
  .about-us .westbury .content-wrapper .left-section .fairer-hills {
      width: 100%;
      padding: 20px;
  }
  .about-us .westbury .content-wrapper .right-section{
      width: 100%;
      order: 1;
  }  
  .about-us .westbury .content-wrapper .right-section .westbury-white-horse{
      width: 100%;
  } 
  .about-us .westbury .content-wrapper{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
  }

}
/* Old Map */
.about-us .old-navigation-map{
  position: relative;
}
.about-us .old-navigation-map .hero-image{
  filter: brightness(40%);
}
.about-us .old-navigation-map .heading{
  position: absolute;
  top: 15%;
  width: 100%;
}
.about-us .old-navigation-map .heading span{
  font-family: minion-pro-display;
  font-size: 34px;
  line-height: 34px;
  display: block;
  text-align: center;
  color: white;
}
.about-us .old-navigation-map .firms-promise{
  position: absolute;
  bottom: 10% ;
  width: 100%;
}
.about-us .old-navigation-map .firms-promise .left-section p, .right-section p{
  font-family: minion-pro;
  font-size: 18px;
  line-height: 28px;
  color: white;
  margin-bottom: 20px;
}
/* End */
.svg-stroking svg{
  stroke-width: 3px;
  
}


/* Upper Footer Styling */
.footer-section footer .upper-footer ul li a{
  @apply leading-6 text-[#3c2f27]
}

.footer-section footer .upper-footer ul li a:hover{
  @apply text-[#3c2f27] font-semibold
}
/* End */

/* Lower Footer */
.footer-section footer .lower-footer .lower-footer-wrapper div{
  @apply text-[#3c2f27] text-xs
}

.footer-section footer .lower-footer .lower-footer-wrapper div a:hover{
  @apply underline
}
/* End */





