
/* End */
.image-carousel {
  padding:  0 0 30px 0;
  background-color: #faf2ec;
}

.image-carousel .carousel-heading {
  font-family: 'Crimson Pro', serif;
  color: #59545f;
  padding: 30px 0 20px 0;
}

.image-carousel .carousel .title {
  font-family: 'Crimson Pro', serif;
  font-size: 18px;
  color: #59545f;
  line-height: 29px;
  padding: 5px 0 50px 0;

}

.image-carousel .carousel .product-swiper .swiper-wrapper{
  padding: 0 90px;
}

.image-carousel .carousel .product-swiper .swiper-wrapper img{
  width: 100% !important;
}

.image-carousel .carousel .swiper-scrollbar {
  display: none;
}

.image-carousel .carousel .swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 47%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  bottom: 50%;
  transform: translate(0%, -50%);
  font-weight: 900;
}

.image-carousel .carousel .swiper-button-next {
  position: absolute;
  top: 47%;
  font-weight: 900;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  bottom: 50%;
  transform: translate(0%, -50%);

}
.image-carousel .carousel .swiper-pagination .swiper-pagination-bullet{
  margin: 0px 10px;
  
}

.image-carousel .carousel .swiper-pagination .swiper-pagination-bullet-active {
  
  background: #3c2f27
}